.revice_wrap{
  .revice_btn_row{
    padding: 20rpx 0;
    button{
      width: 60%;
    }
  }
}

.revice_address{
  padding: 10rpx;
  display: flex;
  .address_user{
    font-size: 30rpx;
    color: #000;
  }
  .address_phone{
    flex: 1;
    text-align: right;
    color: #000;
  }
}